---
import { styleHtml } from '../utils/markdown.js';

// not exact yet as this includes some HTML tags
const WORD_LIMIT = 1200;

const blogPosts = await Astro.glob('../../../md/*.md');
---

<Fragment class="container">
    <h1>Recent blog posts:</h1>
    {blogPosts.reverse().map((post) => {
        const { frontmatter, compiledContent } = post;
        const { date, title, slug } = frontmatter;
        const html = compiledContent();
        const truncatedHtml = styleHtml(html.substr(0, html.lastIndexOf(" ", WORD_LIMIT)) + "...");

        return (
            <hr />
            <a href={`/post/${slug}`} class="postTitle">{title}</a> 
            <p>{date}</p>
            <p set:html={truncatedHtml} />
            <a class="large" href={`/post/${slug}`}>Read more...</a>
            <hr />
        );
    })}
</Fragment>

<style>
    body {
    }

    a {
        color: white;
    }

    .postTitle {
        font-size: 2em;
        font-weight: bold;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    hr {
        border-style: none;
        border-top: dashed 3px #00ff00;
    }

    .large {
        font-size: 1.5em;
    }
</style>